@import "var";
@import "mixin";

%fontSize {
    font-size: 20px;
}

@function pxt($px) {
    @return $px / $baseFontsize * 1rem;
}
body {
    font-size: $baseFontsize;
    color: lighten($gray, 10%);
}

.test {
    font-size: pxt(16px);
    color: darken($gray, 20%);
}

p {
    @include center;
    width: $el-width;
    height: $el-height;
    background-color: $blue;
    padding-#{$el-top}: 20px;
    padding: {
        left: 20px;
    }
    em {
        color: $yellow;
        @extend %fontSize;
    }
    a {
        text-decoration: none;
        color:nth($link-color, 1);
        &:hover {
            color:nth($link-color, 2);
        }
    }
}

.min {
    @extend em;
}

@each $header, $size in $headings {
    #{$header} {
        font-size: $size;
    }
}

@for $i from 1 through 3 {
    .item-#{$i} {
        width: 1em * $i;
    };
}
