$blue: #00f!default;
$red: #f00!default;
$black: #000!default;
$yellow: #0f0!default;
$button-margin: 2em 1em 3em 4em;
$headings: (h1:3em,h2:2em,h3:1em);
$el-width: 600px;
$link-color: #f0f #ccc;
$el-height: 300px;
$el-top: top;
$baseFontsize: 10px!default;
$gray: #ccc!default;
