{{!-- 下面嵌入评论代码 --}}
<div id="container"></div>

<script type="text/javascript">
	var gitment = new Gitment({
		id: 'location.href', // 可选。默认为 location.href
		owner: 'CHUENWEI',
		repo: 'Note',
		oauth: {
			client_id: '5fa6b268d2ff83d1df02',
			client_secret: 'd18759cea288f2e0c9d2686f61982c66ba2a85df',
		},
	})
	gitment.render('container')
</script>
{{!-- 上面嵌入评论代码 --}}
